:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .material-icons {
    display: inline-block;
    transition: transform .5s;
    cursor: pointer;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    &.md-18 { font-size: 18px; }
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }

    &.md-dark {
      color: rgba(0, 0, 0, 0.54);

      &.md-inactive { color: rgba(0, 0, 0, 0.26); }
    }

    &.animate {
      transform: rotate(360deg);
    }
  }
}


