<div class="section">
  <div class="section-center">
    <div class="profile-wrapper">
      <h2 class="title">Profile</h2>
      <p>I'am junior frontend/salesforce developer</p>
    </div>

    <div class="about-info-wrapper">
      <div class="about-info-text">
        <h3 class="subtitle">About me</h3>
        <p>
          I am an allround web developer.
          I am a senior programmer with good knowledge of front-end techniques.
          I love structure and order and I also stand for quality.
          I love spending time on fixing little details and optimizing web apps.
          Also I like working in a team, you'll learn faster and much more.
          As the saying goes: 'two heads are better than one'.
        </p>
      </div>

      <div class="info-img">
        <div class="info-img-wrapper">
          <img src="/assets/images/avatar.jpg" alt="avatar">
        </div>
      </div>

      <div class="info-details">
          <h3 class="subtitle">Details</h3>
        <p class="headers">Name:</p>
        <p class="headers-info">Ivan Butko</p>
        <p class="headers">Age:</p>
        <p class="headers-info">{{dateOfBirth}} years</p>
        <p class="headers">Location:</p>
        <p class="headers-info">Grodno, Republic of Belarus, Earth</p>
      </div>

    </div>
  </div>
</div>
