<footer class="section footer">
  <div class="wrapper section-center">
    <h3>Let's connect! I prefer VK and LinkedIn messages.</h3>
    <div  class="container__c">
      <div class="flipper__c">
          <div class="button__c front vk">
            <i class="fab fa-vk"></i>
          </div>
          <div class="button__c back vk">
            <a href="https://vk.com/id146222480" target="_blank">/IvanButko</a>
          </div>
      </div>
    </div>

    <div  class="container__c">
      <div class="flipper__c">
        <div class="button__c front linkedin">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="button__c back linkedin">
          <a href="https://www.linkedin.com/in/ivan-butko-28b374182" target="_blank">/ivan-butko</a>
        </div>
      </div>
    </div>

    <div  class="container__c">
      <div class="flipper__c">
        <div class="button__c front skype">
          <i class="fab fa-skype"></i>
        </div>
        <div class="button__c back skype">
          <a href="skype:live:ivanbutko5?chat" target="_blank">live:ivanbutko5</a>
        </div>
      </div>
    </div>

  </div>
</footer>

