mat-dialog-container {
  overflow: visible;
}

textarea {
  height: 100px;
  resize: none!important;
}

.input_c {
  width: 100%;
  color: var(--mainBlack);
  font-weight: 500;
  margin-bottom: 15px;
}

.title_c {
  position: relative;
  text-align: center;
}
.title_c span {
  color: var(--mainBlack);
  font-weight: 500;
}
.close_c {
  position: absolute;
  font-size: 24px;
  color: white;
  right: 0;
  transform: translate(100%, -50px);
  top: 0;
  transition: var(--mainTransition);
  cursor: pointer;
}

.close_c:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .close_c:hover {
    transform: scale(1.5) translate(75%, -50px);
    color: var(--primaryColor);
  }
}

.btn-wrapper {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.invalid-btn {
  opacity: 1;
  background: darkred;
  cursor: not-allowed;
  border: 1px solid darkred;
}

.invalid-btn:hover {
  background: darkred;
  color: var(--mainWhite);
}


.spinner-overlay {
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.5);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

.spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
